*{
    font-family: 'Instrument Sans', sans-serif;
}
button{
    background-color: #2199e8;
    color: white;
    border: 0;
    transform: scale(0.96);
    padding: 6px 12px;
    font-size: 15px;
}

button:hover{
    transform: scale(1);  
}